* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
}

/* --------------------------- THIS IS THE WRAPPER -------------------------- */
.wrapper {
    max-width: 120em;
    margin: 0 auto;

    display: grid;
    grid-gap: 2em;

    grid-template-areas: 
        "side nav nav"
        "side wal wal"
        "side tra act"
    ;
    
    height: 100vh;
}

.wrapper-history {
    max-width: 120em;
    margin: 0 auto;
    
    display: grid;
    grid-gap: 2em;
    
    grid-template-areas: 
    "side nav nav"
    "side his his"
    "side his his"
    ;

    height: 100vh;
}

/* ------------------------ THIS IS WRAPPER CHILDREN ------------------------ */
.wrapper > * {
    font-size: 2em;
    padding: 1em;
    border: 1px solid steelblue;
}

.wrapper-history > * {
    font-size: 2em;
    padding: 1em;
    border: 1px solid steelblue;
}

/* ---------------------- THIS IS OUR CUSTOM CONTAINERS --------------------- */

.sidebar {
    grid-area: side;
}

.navbar {
    grid-area: nav;
}

.wallet {
    grid-area: wal;
}

.quick-transfer {
    grid-area: tra;
}

.activity {
    grid-area: act;
}

.history {
    grid-area: his;
}

/* -------------------------------------------------------------------------- */
/*                         Media queries for reference                        */
/* -------------------------------------------------------------------------- */

/* 
mobile: less than 768px
tablet: more than 769px
desktop: more than 1024px
widescreen: more than 1216px
fullhd: more than 1408px 
*/

/* -------------------------------------------------------------------------- */
/*                        mobile media query goes here                        */
/* -------------------------------------------------------------------------- */

/* ------------------------ Layout for the main page ------------------------ */

@media only screen and (max-width: 768px) {
    
    .wrapper {
        grid-template-areas: 
        "nav"
        "wal"
        "wal"
        "wal"
        "tra"
        "tra"
        "tra"
        "act"
        "act"
        "act"
        ;

        height: 200vh;
    }
    
    .sidebar {
        display: none;
    }
    
    /* ----------------------- Layout for the history page ---------------------- */

    .wrapper-history {
        grid-template-areas: 
        "nav"
        "his"
        "his"
        "his"
        "his"
        "his"
        "his"
        ;
        height: 200vh;
    }
}
.column-1
{
    grid-template-areas:
    "trans ins ins "
    "trans ins ins"
    "trans ins ins" 
    ;
}